.modalContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }
  .modalHeader {
    border-bottom: 1px solid var(--borderColor);
  }
  .modalBody {
    padding-top: 20px;
    height: 90%;
    max-height: 90%;
    overflow-y: auto;
  }
  .modalFooter{
      text-align: right;
      border-top: 1px solid var(--borderColor);
      padding-top: 10px;
  }
