<app-main-modal [customClass]="customClass">
  <div class="modalContainer">
    <div class="modalHeader">
      <div class="modalTitle">
        <h1 class="titles">
          {{ modalTitle }}
        </h1>
      </div>
    </div>
    <div class="modalBody">
      <ng-content></ng-content>
    </div>
    <div class="modalFooter">
      <button class="purbleBtn mx-2" (click)="submitModal()">{{submitText}}</button>
      <button class="outlinePurbleBtn mx-2" (click)="dismiss()">Cancel</button>
    </div>
  </div>
</app-main-modal>
