.jw-modal-background {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-animation: fadein 1s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s ease-in-out; /* Firefox < 16 */
  -ms-animation: fadein 1s ease-in-out; /* Internet Explorer */
  -o-animation: fadein 1s ease-in-out; /* Opera < 12.1 */
  animation: fadein 1s ease-in-out;
}

.jw-modal {
  width: 80%;
  height: 80%;
  max-height: 80%;
  overflow-y: auto;
  background-color: white;
  margin: 50px auto;
  z-index: 5;
  border-radius: 10px;
  padding: 10px 20px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
