<mat-accordion [class]="customClass">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    [expanded]="expanded"
    [disabled]="disableDropdown"
    >
    <mat-expansion-panel-header>
      <mat-panel-title class="d-flex justify-content-between">
        <div>
          <img *ngIf="hasDot" class="mx-2" [src]="dotImgSrc" alt="" />
          {{ expansionHeader }}
        </div>
        <div class="icons-container" *ngIf="hasEditable">
          <span
            ><img
              role="button"
              (click)="edit($event)"
              [src]="editImgSrc"
              alt=""
          /></span>
          <span
            ><img
              (click)="delete($event)"
              class="text-danger"
              [src]="deleteImgSrc"
              alt=""
          /></span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-content></ng-content>
  </mat-expansion-panel>
</mat-accordion>
