.linksContainer {
  width: 100%;
  display: flex;
}
.links {
  display: flex;
  justify-content: center;
}
.navLink {
  margin: 10px 4px;
  padding: 6px 8px;
  box-sizing: content-box;
  text-align: center;
}

.navLink a{
  text-decoration: none;
  color: #00000099;
}
.navLink.active a{
  color: var(--mainPurbleColor);
}
.navLink.active{
  padding-bottom: 10px;
  border-bottom:2px solid var(--mainPurbleColor);
}
