.linksContainer {
  width: 100%;
  display: flex;
}
.links {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
}
.navLink {
  /* margin: 10px 4px;
  padding: 2px 2px; */
  box-sizing: content-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink a{
  text-decoration: none;
  color: #00000099;
}
.navLink.active a{
  color: var(--mainPurbleColor);
}
.navLink.active{
  border-bottom:2px solid var(--mainPurbleColor);
  width: 70px !important;
padding-bottom: 10px;
}
