<div class="linksContainer" [class]="customClass">
  <div class="links">
    <ng-container *ngFor="let item of innerNavs">
      <ng-container *ngIf="item.visible">
        <div
          class="navLink pointer"
          [class]="
            item.child && item.active
              ? 'active2'
              : !item.child && item.active
              ? 'active'
              : ''
          "
          (click)="makeActive(item); emitItem(item)"
          *ngIf="!item.editMode"
        >
          <a>
            {{ item.name }}
          </a>
        </div>
        <div
          class="navLink pointer"
          [class]="
            item.child && item.active
              ? 'active2'
              : !item.child && item.active
              ? 'active'
              : ''
          "
          (click)="makeActive(item); emitItem(item)"
          *ngIf="item.editMode"
        >
          <a>
            {{ item.name }}
          </a>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
