<div class="linksContainer" [class]="customClass">
  <div class="links">
    <ng-container *ngFor="let item of innerNavs">
      <ng-container *ngIf="item.visible" >
        <div
          [routerLink]="item.url"
          class="navLink pointer"
          [class]="item.active ? active : ''"
          (click)="makeActive(item.url); emitItem(item)"
          *ngIf="!item.editMode"
        >
          <a>
            {{ item.name }}
          </a>
        </div>
        <div
          class="navLink pointer"
          [class]="item.active ? active : ''"
          (click)="makeActive(item.url); emitItem(item)"
          *ngIf="item.editMode"
        >
          <a>
            {{ item.name }}
          </a>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
