<app-body-template
  (save)="saveAndSubmitForm('saveMode')"
  (edit)="
    editForm(form.value, pointsContent, whatYouGetContent, termsOfUseContent ,'editMode')
  "
  [hasEdit]="inEditMode"
  [hasAdd]="!inEditMode"
  [hasReset]="false"
>
  <form [formGroup]="form">
    <app-dropdown-material [customClass]="'plans'" expansionHeader="Plans">
      <div class="row">
        <div class="col-6">
          <app-text-area
            placeholder="Enter description"
            textLabel="Description"
            [control]="form.get('description')"
            [required]="!disableInput"
            [disableInput]="disableInput"
            [rows]="rows"
          ></app-text-area>
        </div>
        <div class="col-6">
          <app-rich-text-field
            labelText="Points"
            [disabled]="disableInput"
            (bodyContent)="content($event, 'points')"
            [inputRequired]="!disableInput"
            [hideToolbar]="disableInput"
            errMsg=""
            [content]="pointsContent"
          ></app-rich-text-field>
        </div>
      </div>
    </app-dropdown-material>

    <app-dropdown-material [customClass]="'plans'" expansionHeader="Bookings">
      <div class="row">
        <div class="col-6">
          <app-rich-text-field
            labelText="What you get"
            [disabled]="disableInput"
            (bodyContent)="content($event, 'whatYouGet')"
            [inputRequired]="!disableInput"
            [hideToolbar]="disableInput"
            errMsg=""
            [content]="whatYouGetContent"
          ></app-rich-text-field>
        </div>

        <div class="col-6">
          <app-rich-text-field
            labelText="Terms of Use"
            [disabled]="disableInput"
            (bodyContent)="content($event, 'termsOfUse')"
            [inputRequired]="!disableInput"
            [hideToolbar]="disableInput"
            errMsg=""
            [content]="termsOfUseContent"
          ></app-rich-text-field>
        </div>
      </div>
    </app-dropdown-material>
  </form>
</app-body-template>
