<div [class]="errMsg !== '' ? 'text-red' : ''" class="form-group">
  <label class="mb-2" *ngIf="!hideLabel" for=""
    >{{ labelText }}
    <span *ngIf="inputRequired" class="text-red">*</span>
  </label>
  <div [class]="customClass">
    <angular-editor
      [placeholder]="'Enter text here...'"
      [(ngModel)]="content"
      [config]="editorConfig"
      (ngModelChange)="changeEditor()"
    ></angular-editor>
  </div>
  <!-- <p *ngIf="errMsg !== ''" class="text-red">
    {{ errMsg }}
  </p> -->
  <small
  class="text-danger"
  *ngIf="errMsg !== ''"
  >* Field is required</small
>
</div>
