<app-body-template
  [hasEdit]="hasEdit"
  [hasReset]="false"
  [hasAdd]="!hasEdit"
  (edit)="edit('inEditMode')"
  (save)="saveAndSubmit()"

>
  <form action="" [formGroup]="form">
    <app-rich-text-field
    [customClass]="'policies'"
    [disabled]="!inEditMode"
      (bodyContent)="content($event)"
      [content]="bodyContent"
      [hideToolbar]="!inEditMode"
      errMsg=""
    ></app-rich-text-field>
  </form>
  <small class="star" *ngIf="inEditMode"> *this field is required</small>
</app-body-template>
