<app-body-template>
  <form action="" [formGroup]="form"></form>
  <app-dropdown-material expansionHeader="Hourly">
    <app-rich-text-field
      (bodyContent)="content($event, 'hourly')"
      [inputRequired]="disableInput"
      [disabled]="false"
    ></app-rich-text-field>
  </app-dropdown-material>
  <app-dropdown-material expansionHeader="Day">
    <app-rich-text-field
      (bodyContent)="content($event, 'day')"
      [inputRequired]="disableInput"
      [disabled]="false"
    ></app-rich-text-field>
  </app-dropdown-material>
  <app-dropdown-material expansionHeader="Tailored">
    <app-rich-text-field
      (bodyContent)="content($event, 'tailored')"
      [inputRequired]="disableInput"
      [disabled]="false"
    ></app-rich-text-field>
  </app-dropdown-material>
  <app-dropdown-material expansionHeader="Meeting Space">
    <app-rich-text-field
      (bodyContent)="content($event, 'meetingSpace')"
      [inputRequired]="disableInput"
      [disabled]="false"
    ></app-rich-text-field>
  </app-dropdown-material>
</app-body-template>
