.slick-slider {
  width: 80%;
  margin: auto;
  background: white;
}

body .slick-prev,
body .slick-next {
  height: 100%;
  width: 100%;
  background: black !important;
  z-index: 100;
}
.linksContainer {
  width: 100%;
  display: flex;
  padding-left: 65px;
}
.links {
  display: flex;
}
.navLink {
  /* margin: 10px 15px; */
}

.navLink a {
  text-decoration: none;
  color: #00000099;
}
.navLink.active a {
  color: var(--mainPurbleColor);
  padding-bottom: 5px;
  border-bottom: 4px solid var(--mainPurbleColor);
}
