<app-body-template (save)="saveAndSubmitForm()"[hasReset]="false">
  <div *ngIf="!inFaqsMode">
    <div class="btn-container d-flex justify-content-end">
      <button class="purbleBtn mx-2" (click)="showFaqs()">Add FAQ</button>
      <button class="outlinePurbleBtn" (click)="openModal()">
        Add Category
      </button>
    </div>
  </div>
  <!-- faqs mode -->
  <form [formGroup]="form">
    <div *ngIf="inFaqsMode">
      <app-dropdown-material [expansionHeader]="'Add FAQs'">
        <div class="w-25 mb-4">
          <app-select-option-field
            textLabel="Category"
            defaultOption="Select Category"
            [control]="form.get('spaceId')"
          ></app-select-option-field>
        </div>
        <div class="mb-4">
          <app-input-field
            labelText="Question"
            inputPlaceholder="Add Question"
            [control]="form.get('question')"
          ></app-input-field>
        </div>
        <app-rich-text-field
          labelText="Answer"
          errMsg=""
          [disabled]="false"
          (bodyContent)="bodyContent($event)"
        ></app-rich-text-field>
      </app-dropdown-material>
    </div>
  </form>

  <!-- category modal -->
  <div *ngIf="inModalMode">
    <app-prompt-modal
      modalTitle="FAQs"
      imgSrc="./../../../assets/images/Artwork.svg"
      (dismissModal)="closeModal()"
      (modalSubmit)="submitModel()"
    >
      <app-input-field
        labelText="Category"
        inputPlaceholder="Add Category"
        required="true"
        class="m-3"
      ></app-input-field>
    </app-prompt-modal>
  </div>

  <!-- drag and drop -->
  <div
    cdkDropList
    [cdkDropListData]="groups"
    (cdkDropListDropped)="dropGroup($event)"
    *ngIf="listMode"

  >
    <div
      cdkDropListGroup
      class="example-container"
      *ngFor="let group of groups"
      cdkDrag
      [cdkDragData]="group"
    >
      <app-dropdown-material [hasEditable]="true" [expansionHeader]="group.title">
        <!-- childreen -->
        <div
          cdkDropList
          class="example-list"
          id="{{ group.id }}"
          [cdkDropListData]="group.items"
          (cdkDropListDropped)="dropItem($event)"
          [cdkDropListConnectedTo]="getConnectedList()"
        >
          <div
            class="example-box"
            *ngFor="let item of group.items"
            cdkDrag
            [cdkDragData]="item"
          >
            <div>{{': :  '+ item.name }}</div>
            <div class="icons-container">
              <span><img class="text-danger" src="../../../assets/images/Group 24.svg" alt=""></span>
              <span><img class="text-danger" src="../../../assets/images/deleteIcon.svg" alt=""></span>
              <span><img class="text-danger" src="../../../assets/images/Down-arrow.svg" alt=""></span>
            </div>
          </div>
        </div>
      </app-dropdown-material>
    </div>
  </div>
</app-body-template>
